.square{
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 30%;
}

#container{
  padding-top: 2%;
  max-width: 600px;
  margin: 0 auto;
}

h1{
  color: rgb(7, 0, 0);
  text-align: center;
  background-color: turquoise;
  margin: 0px;
  padding:2%;
}
