.square{
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 30%;
  transition: all 0.5s;
}

#container{
  padding-top: 2%;
  max-width: 600px;
  margin: 0 auto;
}

h1{
  color: rgb(7, 0, 0);
  text-align: center;
  background-color: turquoise;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#colorId{
font-size: 200%;
}

